@model Slots.Models.ConfigViewModel
@{
    ViewData["Title"] = @Model.Site;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @Model.Site</h1>
      <div style="background-color: @Model.Colour; padding: 20px; border-radius: 10px; margin: 20px auto; max-width: 600px; color: white;">
        <h3>Environment Information</h3>

        <p><strong>Database Connection:</strong> @Model.DbConn</p>
        <p><strong>Auth:</strong> @Model.Auth</p>
        
    </div>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

